<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="theme-style-mode" content="0"> <!-- 0 == light, 1 == dark -->

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="<%= settings.siteFavicon %>">
    <!-- CSS 
    ============================================ -->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/vendor/nice-select.css">
    <link rel="stylesheet" href="/assets/css/plugins/feature.css">
    <link rel="stylesheet" href="/assets/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/odometer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- Style css -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body class="template-color-1 nft-body-connect active-light-mode">
    <!-- Start Loader -->
    <%- include('../partials/staloader') %>
        <div class="preloader">
            <div class="loader"></div>
        </div>
        <!-- End Loader -->

        <!-- start header area -->
        <!-- Start Header -->
        <header class="rn-header haeder-default header--sticky">
            <div class="container">
                <div class="header-inner">
                    <div class="header-left">
                        <div class="logo-thumbnail logo-custom-css">
                            <a class="logo-light" href="/"><img src="<%= settings.siteLogo %>"
                                    alt="logo" style="padding-top: 5px; max-height: 70px !important; max-width: 140px;"></a>
                            <a class="logo-dark" href="/"><img src="<%= settings.siteLogo %>"
                                    alt="logo" style="padding-top: 5px; max-height: 70px !important; max-width: 140px;"></a>
                        </div>
                        <div class="mainmenu-wrapper">
                            <nav id="sideNav" class="mainmenu-nav d-none d-xl-block">
                                <!-- Start Mainmanu Nav -->
                                <ul class="mainmenu">
                                    <li><a href="/">Anasayfa</a>
                                    </li>
                                    <li><a href="/urunler">Ürünler</a>
                                    </li>
                                    <% foundMenuPage.forEach((menu) => {%>
                                        <% if (menu.menuVisibility && menu.menuVisibility == true) { %>
                                            <li><a href="/<%= menu.pageLink %>"><%= menu.pageName %></a></li>
                                        <% } %>
                                    <% }) %>
                                    <li><a href="/iletisim">İletişim</a></li>
                                </ul>
                                <!-- End Mainmanu Nav -->
                            </nav>
                        </div>
                    </div>
                    <div class="header-right">

                        <% if (!currentUser) {%>
                        <div class="setting-option header-btn rbt-site-header" id="rbt-site-header">
                            <div class="icon-box">
                                <a class="btn btn-primary-alta btn-small" href="/urunler">Ürünleri Keşfedin</a>
                            </div>
                        </div>
                        <% } else { %>
                        <div class="setting-option header-btn rbt-site-header" id="rbt-site-header">
                            <div class="icon-box">
                                <a class="btn btn-primary-alta btn-small" href="/admin">Yönetim Paneli</a>
                            </div>
                        </div>
                        <div class="header_admin" id="header_admin">
                            <div class="setting-option rn-icon-list user-account">
                                <div class="icon-box">
                                    <a href="/admin"><img src="/assets/images/icons/boy-avater.png"
                                            alt="Images"></a>
                                    <div class="rn-dropdown">
                                        <div class="rn-inner-top">
                                            <h4 class="title"><a href="/admin/change-password"><%= currentUser.firstname%> <%= currentUser.lastname%></a>
                                            </h4>
                                        </div>
                                        <div class="add-fund-button mt--20 pb--20">
                                            <a class="btn btn-primary-alta w-100" href="/admin">Yönetim Paneli</a>
                                        </div>
                                        <ul class="list-inner">
                                            <li><a href="/admin/custompage-add">Sayfa Oluştur</a></li>
                                            <li><a href="/admin/product-add">Ürün Oluştur</a></li>
                                            <li><a href="/admin/settings">Site Ayarları</a></li>
                                            <li><a href="/signout">Çıkış yap</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>


                        <div class="setting-option mobile-menu-bar d-block d-xl-none">
                            <div class="hamberger">
                                <button class="hamberger-button">
                                    <i class="feather-menu"></i>
                                </button>
                            </div>
                        </div>

                        <!-- <div id="my_switcher" class="my_switcher setting-option">
                            <ul>
                                <li>
                                    <a href="javascript: void(0);" data-theme="light" class="setColor light">
                                        <img class="sun-image" src="/assets/images/icons/sun-01.svg" alt="Sun images">
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                                        <img class="Victor Image" src="/assets/images/icons/vector.svg"
                                            alt="Vector Images">
                                    </a>
                                </li>
                            </ul>
                        </div> -->

                    </div>
                </div>
            </div>
        </header>
        <!-- End Header Area -->

        <div class="popup-mobile-menu">
            <div class="inner">
                <div class="header-top">
                    <div class="logo logo-custom-css">
                        <a class="logo-light" href="/"><img src="<%= settings.siteLogo %>"
                                alt="logo"></a>
                        <a class="logo-dark" href="/"><img src="<%= settings.siteLogo %>"
                                alt="logo"></a>
                    </div>
                    <div class="close-menu">
                        <button class="close-button">
                            <i class="feather-x"></i>
                        </button>
                    </div>
                </div>
                <nav>
                    <!-- Start Mainmanu Nav -->
                    <ul class="mainmenu">
                        <li><a href="/">Anasayfa</a>
                        </li>
                        <li><a href="/urunler">Ürünler</a>
                        </li>
                        <% foundMenuPage.forEach((menu) => {%>
                            <% if (menu.menuVisibility && menu.menuVisibility == true) { %>
                                <li><a href="/<%= menu.pageLink %>"><%= menu.pageName %></a></li>
                            <% } %>
                        <% }) %>
                        <li><a href="/iletisim">İletişim</a></li>
                    </ul>
                    <!-- End Mainmanu Nav -->
                </nav>
            </div>
        </div>
        <!-- ENd Header Area -->
