<head>
    <title><%= foundPage.pageName %> - Çolaklar Yalıtım</title>
    <meta content="<%= foundPage.customPageMetaDescription %>" name="description" />
    <meta property="og:image" content="<%= foundPage.pageImage %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="keywords" content="<%= foundPage.customPageMetaKeywords %>">
</head>
<%- include ('../partials/header') %>
<%- foundPage.pageContent %>
<%- include ('../partials/footer') %>