<!-- [ Sidebar Menu ] start -->
<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="/" class="b-brand text-primary">
                <!-- ========   Change your logo from here   ============ -->
                <img class="mt-4" src="<%= settings.siteLogo%>" style="max-height: 60px; max-width:140px;">
                <span class="badge bg-light-success rounded-pill ms-2 theme-version">v9.0</span>
            </a>
        </div>
        <div class="navbar-content pc-trigger" data-simplebar="init">
            <div class="simplebar-wrapper" style="margin: -10px 0px;">
                <div class="simplebar-height-auto-observer-wrapper">
                    <div class="simplebar-height-auto-observer"></div>
                </div>
                <div class="simplebar-mask">
                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                        <div class="simplebar-content-wrapper" tabindex="0" role="region"
                            aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
                            <div class="simplebar-content" style="padding: 10px 0px;">
                                <div class="card pc-user-card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0">
                                                <img src="<%= currentUser.avatar %>" alt="user-image"
                                                    class="user-avtar wid-45 rounded-circle">
                                            </div>
                                            <div class="flex-grow-1 ms-3 me-2">
                                                <h6 class="mb-0">
                                                    <%= currentUser.firstname %>
                                                        <%= currentUser.lastname %>
                                                </h6>
                                                <small>
                                                    <%= currentUser.role %>
                                                </small>
                                            </div>
                                            <a class="btn btn-icon btn-link-secondary avtar-s" data-bs-toggle="collapse"
                                                href="#pc_sidebar_userlink">
                                                <svg class="pc-icon">
                                                    <use xlink:href="#custom-sort-outline"></use>
                                                </svg>
                                            </a>
                                        </div>
                                        <div class="collapse pc-user-links" id="pc_sidebar_userlink">
                                            <div class="pt-3">
                                                <a href="/admin/change-password">
                                                    <i class="ti ti-repeat"></i>
                                                    <span>Şifre değiştir</span>
                                                </a>
                                                <a href="/signout">
                                                    <i class="ti ti-power"></i>
                                                    <span>Çıkış yap</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <ul class="pc-navbar" style="display: block;">
                                    <li class="pc-item">
                                        <a href="/admin" class="pc-link">
                                            <span class="pc-micon">
                                                <svg class="pc-icon">
                                                    <use xlink:href="#custom-home"></use>
                                                </svg>
                                            </span>
                                            <span class="pc-mtext">Yönetim Paneli</span></a>
                                    </li>
                                    <li class="pc-item pc-caption">
                                        <label>Ürün yönetimi</label>
                                        <i class="ti ti-layout-kanban"></i>
                                    </li>
                                    <li class="pc-item">
                                        <a href="/admin/product-add" class="pc-link">
                                            <span class="pc-micon">
                                                <svg class="pc-icon">
                                                    <use xlink:href="#custom-add-item"></use>
                                                </svg>
                                            </span>
                                            <span class="pc-mtext">Ürün Ekle</span></a>
                                    </li>
                                    <li class="pc-item">
                                        <a href="/admin/product-list" class="pc-link">
                                            <span class="pc-micon">
                                                <svg class="pc-icon">
                                                    <use xlink:href="#custom-box-1"></use>
                                                </svg>
                                            </span>
                                            <span class="pc-mtext">Ürünler</span></a>
                                    </li>
                                    <li class="pc-item pc-caption">
                                        <label>Site Yönetimi</label>
                                        <i class="ti ti-layout-kanban"></i>
                                    </li>
                                    <li class="pc-item">
                                        <a href="/admin/categories" class="pc-link">
                                            <span class="pc-micon">
                                                <svg class="pc-icon">
                                                    <use xlink:href="#custom-clipboard"></use>
                                                </svg>
                                            </span>
                                            <span class="pc-mtext">Kategoriler</span></a>
                                    </li>
                                    <% if (currentUser.role == "admin" ) { %>
                                    <li class="pc-item">
                                        <a href="/admin/custompage-list" class="pc-link">
                                            <span class="pc-micon">
                                                <svg class="pc-icon">
                                                    <use xlink:href="#custom-simcard-2"></use>
                                                </svg>
                                            </span>
                                            <span class="pc-mtext">Sayfalar</span></a>
                                    </li>
                                    <li class="pc-item">
                                        <a href="/admin/custompage-add" class="pc-link">
                                            <span class="pc-micon">
                                                <svg class="pc-icon">
                                                    <use xlink:href="#custom-element-plus"></use>
                                                </svg>
                                            </span>
                                            <span class="pc-mtext">Sayfa ekle</span></a>
                                    </li>
                                    <li class="pc-item">
                                        <a href="/admin/settings" class="pc-link">
                                            <span class="pc-micon">
                                                <svg class="pc-icon">
                                                    <use xlink:href="#custom-setting-2"></use>
                                                </svg>
                                            </span>
                                            <span class="pc-mtext">Site ayarları</span></a>
                                    </li>
                                    <% } %>
                                    <!-- <li class="pc-item">
                                        <a href="../application/chat.html" class="pc-link">
                                            <span class="pc-micon">
                                                <svg class="pc-icon">
                                                    <use xlink:href="#custom-data"></use>
                                                </svg>
                                            </span>
                                            <span class="pc-mtext">Seo ayarları</span></a>
                                    </li> -->
                                    <li class="pc-item pc-caption">
                                        <label>Hesap yönetimi</label>
                                        <i class="ti ti-layout-kanban"></i>
                                    </li>
                                    <% if (currentUser.role == "admin" ) { %>
                                    <li class="pc-item">
                                        <a href="/admin/users" class="pc-link">
                                            <span class="pc-micon">
                                                <svg class="pc-icon">
                                                    <use xlink:href="#custom-user"></use>
                                                </svg>
                                            </span>
                                            <span class="pc-mtext">Üye Oluştur</span></a>
                                    </li>
                                    <% } %>
                                    <li class="pc-item">
                                        <a href="/admin/change-password" class="pc-link">
                                            <span class="pc-micon">
                                                <svg class="pc-icon">
                                                    <use xlink:href="#custom-refresh-2"></use>
                                                </svg>
                                            </span>
                                            <span class="pc-mtext">Şifre değiştir</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="simplebar-placeholder" style="width: auto; height: 2469px;"></div>
            </div>
            <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
            </div>
            <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                <div class="simplebar-scrollbar"
                    style="height: 319px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
            </div>
        </div>
    </div>
</nav>
<!-- [ Sidebar Menu ] end -->